---
import HeadSEO from "@/components/HeadSEO.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { Toaster } from "@/components/ui/sonner";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const { title, description, ogImage } = Astro.props;
---

<html lang="en">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
    <script is:inline>
      /**
       * Prevents the FART problem (https://css-tricks.com/flash-of-inaccurate-color-theme-fart/)
       */
      function preventFart() {
        const theme = localStorage.getItem("theme");

        const element = document.documentElement;

        if (theme === null) {
          element.setAttribute("data-theme", "cupcake");
        } else {
          element.setAttribute("data-theme", theme);
        }
      }

      preventFart();
    </script>
  </head>
  <body class="bg-background min-h-screen font-sans antialiased">
    <div class="relative flex min-h-screen flex-col">
      <Header />
      <main class="flex-auto">
        <slot />
        <Toaster client:load />
      </main>
      <Footer />
    </div>
  </body>
</html>